{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'map' %}
{% set zoom = zoom|default(page.header.zoom) %}
{% set default_icon = theme.google_maps_icon|first %}
{% set default_icon_path = base_url_absolute ~ '/' ~ default_icon.path %}

{% set markers %}
	[{% for marker in page.header.markers %}

        {% set icon %}
            {%- if marker.icon -%}
                {{- page.media[marker.icon].url -}}
            {%- elseif theme.google_maps_icon|first -%}
                {{- base_url_absolute ~ '/' ~ theme.google_maps_icon|first.path -}}
            {%- endif -%}
        {% endset %}

		["{{ marker.title }}", "{{ marker.lat }}", "{{ marker.lng }}","{{ marker.url }}", "{{ icon }}"]{% if not loop.last %},{% endif %}
	{% endfor %}]
{% endset %}

{% block modular_content %}
 <div class="site">
 	{% if theme.google_maps_api_key %}
 	<div 
    id="map-{{ random() }}" 
    class="map"
    data-reveal
    data-zoom="{{ zoom }}"
    data-styles='{{ theme.google_maps_snazzy }}'
    data-markers='{{ markers }}'>
    </div>
 	{% else %}
 	<div class="notices red dev tight">google_maps_api_key not found!<br>Check theme configuration.</div>
 	{% endif %}
 </div>
{% endblock %}
