{% set center_lat = centerL_lat|default(page.header.center_lat) %}
{% set center_lng = center_lng|default(page.header.center_lng) %}
{% set zoom = zoom|default(page.header.zoom) %}

{% set locations %}
[{% for marker in page.header.markers %}
["{{ marker.title }}", "{{ marker.lat }}", "{{ marker.lng }}"]{% if not loop.last %},{% endif %}
{% endfor %}]
{% endset %}

{% set rhythm = rhythm|default(page.header.rhythm ?? 'rhythm') %}
{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}

{% set modular_classes = 'modular modular--map ' ~ rhythm %}
{% set modular_styles %}{% include '/partials/theme-module.html.twig' %}{% endset %}

<section class="{{ modular_classes }}" style="{{ modular_styles }}">
     <div class="site">
          <div id="map-{{ random() }}" class="map"
          data-lat="{{ center_lat }}"
          data-lng="{{ center_lng }}"
          data-zoom="{{ zoom }}"
          data-snazzy='{{ theme.snazzy_maps }}'
          data-locations='{{ locations }}'>
          </div>
     </div>
</section>