{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'splash' %}
{% set modular_style = '--splash-height:' ~ page.header.min_height ~ 'vh;'  %}

{% set align_h = align_h|default(page.header.align_h ?? 'center') %}
{% set align_v = align_v|default(page.header.align_v ?? 'center') %}

{% set content_ctn_vertical_modifier %}
	{%- if align_v == 'top' -%}splash__content-ctn--vtop
	{%- elseif align_v == 'center' -%}splash__content-ctn--vcenter
	{%- elseif align_v == 'bottom' -%}splash__content-ctn--vbottom
	{%- endif -%}
{% endset %}

{% set content_ctn_horizontal_modifier %}
	{%- if align_h == 'right' -%}splash__content-ctn--hright
	{%- elseif align_h == 'center' -%}splash__content-ctn--hcenter
	{%- elseif align_h == 'left' -%}splash__content-ctn--hleft
	{%- endif -%}
{% endset %}

{% set bg_image = bg_image|default(page.header.bg_image ? page.media[page.header.bg_image]) %}
{% set bg_image_landscape = bg_image_landscape|default(page.header.bg_image_landscape ? page.media[page.header.bg_image_landscape]) %}
{% set bg_video = bg_video|default(page.header.bg_video ? page.media[page.header.bg_video]) %}
{% set bg_video_landscape = bg_video_landscape|default(page.header.bg_video_landscape ? page.media[page.header.bg_video_landscape]) %}
{% set bg_position = bg_position|default(page.header.bg_position ?? '50% 50%') %}
{% set bg_fit = bg_fit|default(page.header.bg_fit ?? 'cover') %}
{% set bg_veil = bg_veil|default(page.header.bg_veil / 100) %}
{% set img_computed_bg_position = 'object-position:' ~ bg_position ~ ';' %}
{% set img_computed_bg_fit = 'object-fit:' ~ bg_fit ~ ';' %}
{% set limit_reveal = limit_reveal|default(page.header.limit_reveal) %}
{% set img_styles =  img_computed_bg_position ~ img_computed_bg_fit%}

{% block modular_content %}

	{% if bg_veil %}
	<div class="splash__veil" style="opacity:{{bg_veil}};"></div>
	{% endif %}

	{% if bg_image and not bg_video %}
		{% set image_class %}
			splash__image
			{% if bg_image_landscape %}
			portrait
			{% endif %}
		{% endset %}

		{% include '/partials/img.html.twig' with {
			'image': bg_image, 
			'class': image_class, 
			'alt': bg_image_alt, 
			'style': img_styles , 
			'reveal': 'scalein animation-duration-5000 animation-delay-300'
		} %}
	{% endif %}

	{% if bg_image_landscape and not bg_video or bg_video_lanscape %}
		{% include '/partials/img.html.twig' with {
			'image': bg_image_landscape, 
			'class': 'splash__image landscape', 
			'alt': bg_image_alt, 
			'style': img_styles , 
			'reveal': 'scalein animation-duration-5000 animation-delay-300'
		} %}
	{% endif %}

	{% if bg_video %}
	{% set video_class %}
		splash__video
		{% if bg_image_landscape or bg_video_landscape %}
		portrait
		{% endif %}
	{% endset %}

	<video class="{{ video_class }}" 
		data-reveal="scalein animation-duration-5000 animation-delay-300" 
		autoplay="autoplay" 
		muted="muted"
		loop="loop"
		{% if bg_image %}poster="{{ bg_image.url }}"{% endif %}
		style="{{ computed_style }}">
		<source src="{{ bg_video.url }}" type="video/mp4">
	</video>
	{% endif %}

	{% if bg_video_landscape %}
	<video 
		class="splash__video landscape" 
		data-reveal="scalein animation-duration-5000 animation-delay-300" 
		autoplay="autoplay" muted="muted"
		loop="loop"
		{% if bg_image_landscape %}poster="{{ bg_image_landscape.url }}"{% endif %}
		style="{{ computed_style }}">
		<source src="{{ bg_video_landscape.url }}" type="video/mp4">
	</video>
	{% endif %}

	<div class="splash__content-ctn {{ content_ctn_vertical_modifier }} {{ content_ctn_horizontal_modifier }}">
		<div class="splash__content"{% if not limit_reveal %} data-reveal{% endif %}>{{ content|raw }}</div>
	</div>

{% endblock %}