{% extends '/partials/modular.html.twig' %}
{% set modular_name = 'video' %}
	
{% set video = video|default(page.header.video ? page.media[page.header.video]) %}
{% set image = image|default(page.header.image ? page.media[page.header.image]) %}
{% set loop = loop|default(page.header.loop) %}
{% set align_h = align_h|default(page.header.align_h) %}
{% set reveal_ = value %}
{% set reveal_video = reveal_video|default('reveal transition-delay-100 transition-duration-500') %}
{% set reveal_content = reveal_content|default('reveal transition-delay-200 transition-duration-1000') %}

{% block modular_content %}
	<div class="video__ctn site">
	<div class="video__content tight {{ align_h }}" data-reveal="{{ reveal_content }}">
		{{ content|raw }}
	</div>
		<video class="video__video" autoplay="autoplay" muted="muted" data-reveal="{{ reveal_video }}"
		{% if loop %}loop="loop"{% endif %} 
		{% if image %}poster="{{ image.url }}"{% endif %}>
		{% if video %}<source src="{{ video.url }}" type="video/mp4">{% endif %}
		</video>
	</div>
{% endblock %}
