{% import 'partials/datetime.html.twig' as datetime %}
{% set title = title|default(page.title) %}
{% set subtitle = subtitle|default(page.header.subtitle) %}
{% set date = date|default(page.header.date) %}
{% set image = image|default(page.header.media_thumb ? page.media.images|first()) %}
{% set image_alt = media_alt|default(page.header.media_alt) %}
{% set content = content|default(page.content|raw) %}
{% set authors = author|default(page.taxonomy.author) %}
{% set categories = categories|default(page.taxonomy.category) %}

<article class="article-card">
	<a class="article-card__link" href="{{ page.url }}">
		
		<div class="article-card__info-ctn">

			{# title #}
			<h2 class="article-card__title">{{ title }}</h2>

			{# subtitle #}
			{% if subtitle %}
			<p class="article-card__subtitle xsmall">{{ subtitle }}</p>
			{% endif %}

			{# metas #}
			<div class="article-card__metas xsmall">
				
				{# date #}
				<span class="article-card__date">{{ datetime.format(date) }} </span> 				
				
				{# authors #}
				{% if authors %} ― 
				<span class="article-card__authors">
					{% for author in authors %}
					{{ author }} {% if not loop.last %}, {% endif %}
					{% endfor %}
				</span>
				{% endif %}

				{# categories #}
				{% if categories %}
				<div class="article-card__categories">
					{% for category in categories %}
					<span>{{ category }}</span> {% if not loop.last %}, {% endif %}
					{% endfor %}
				</div>
				{% endif %}

			</div>
		</div>

		{# media #}
		{% if image %}
		<div class="article-card__media-ctn">
			<div class="fill">
				{% include '/partials/img.html.twig' with {'image': image, 'alt': media_alt, 'class': 'article-card__media'} %}
			</div>
		</div>
		{% endif %}

	</a>
</article>
