{{ dump(pages) }}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}
        <link rel="icon" type="image/png" href="favicon.png" />
        {% include 'partials/canonical.html.twig' %}
        {% include 'partials/analytics.html.twig' %}
        {% include 'partials/preload.html.twig' %}
        {% block css %}{% include 'partials/css.html.twig' %}{% endblock %}
        {% block js %}{% include 'partials/js.html.twig' %}{% endblock %}
        {% block assets deferred %}
            {{ assets.css()|raw }}
            {{ assets.js()|raw }}
            {{ assets.js('before')|raw }}
        {% endblock %}
    </head>

    <body style="{% include 'partials/theme-site.html.twig' %}">
        {% block site_loader %}{% include 'partials/site-loader.html.twig' %}{% endblock %}
        {% block site_marquee %}{% include 'partials/marquee.html.twig' %}{% endblock %} 
        {% block site_header %}{% include 'partials/site-header.html.twig' %}{% endblock %} 
        {% block page_content %}{% endblock %}
        {% block site_footer %}{% include 'partials/site-footer.html.twig' %}{% endblock %}
       
        {{ assets.js('after')|raw }}

        {% if theme.snipcart_api_key %}
        <div hidden id="snipcart" data-api-key="{{ theme.snipcart_api_key }}"></div>
        {% endif %}
        {% if theme.tracking %}
        <div hidden id="tracking" data-ref="https://tracking.hotdoy.org/?ref={{ base_url_absolute }}"></div>
        {% endif %}
        {% block notification %}{% include 'partials/notification.html.twig' %}{% endblock %}

    </body>
</html>
