{% set content = content|default(content|raw) %}
{% set align = align|default(page.header.align ?? 'content--left') %}
{% set reveal = reveal|default('') %}
{% set class = class|default('') %}
{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}
{% set rhythm = rhythm|default(page.header.rhythm ?? 'rhythm') %}
{% set modular_classes = 'modular modular--content ' ~ rhythm ~ (bg_color ? ' rhythm-padding' : '') ~ ' ' ~ class %}
{% set modular_styles %}
{% include '/partials/theme-module.html.twig' %}
{% endset %}

<section class="{{ modular_classes }}" style="{{ modular_styles }}">
	<div class="content__ctn site {{ align }}" data-reveal="{{ reveal }}">{{ content }}</div>
</section>

