{% set content = content|default(content|raw) %}
{% set rythm = rythm|default(page.header.rythm ?? 'rythm') %}
{% set width = width|default(page.header.width ?? 'tight') %}
{% set reveal = reveal|default('fadeinfrombottom delay-100 duration-500') %}
{% set align = align|default(page.header.align ?? 'content--left') %}
{% set class = class|default('') %}
{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}

{% set modular_classes = 'modular modular--content ' ~ rythm ~ (bg_color ? ' rythm-padding' : '') ~ ' ' ~ class %}

{% set modular_styles %}
{% include '/partials/theme-module.html.twig' %}
{% endset %}

<section class="{{ modular_classes }}" style="{{ modular_styles }}">
	<div class="content__ctn {{ width }} {{ align }}" {% if reveal %}data-reveal="{{ reveal }}"{% endif %}>{{ content }}</div>
</section>

