{% set display_title = page.display_title %}
{% set items = items|default(page.header.drawers) %}
{% set rhythm = rhythm|default(page.header.rhythm ?? 'rhythm') %}

{% set reveal_detail = reveal_drawer|default('') %}
{% set reveal_content = reveal_content|default('fadeinfromtop delay-0 duration-500') %}

{% set modular_classes = 'modular modular--drawers site ' ~ rhythm %}

<section class="{{ modular_classes }}">
	{% for item in items %}
		<details class="drawer__detail" data-reveal="{{ reveal_detail }}">
			<summary class="noselect drawer__summary">
				<h3 class="drawer__summary__title">{{ item.summary }}</h3>
				{% block drawer_icon %}<div class="material-icons drawer__summary__icon">keyboard_arrow_down</div>{% endblock %}
			</summary>
			<div class="drawer__content {{ reveal_content }}">{{ item.detail|markdown }}</div>
		</details>
	{% endfor %}
</section>
