{% set rythm = rythm|default(page.header.rythm ?? 'rythm') %}
{% set columns = columns|default(page.header.columns) %}
{% set align_content = align_content|default(page.header.align_content) %}
{% set border = border|default(page.header.border) %}
{% set padding = padding|default(page.header.padding) %}
{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}
{% set computed_style %}
	{% if border %}--border:{{ border }};{% endif %}
	{% if padding %}--padding:{{ padding }};{% endif %}
	{% if bg_color %}--bg-color:{{ bg_color }};{% endif %}
	{% if fg_color %}--fg-color:{{ fg_color }};{% endif %}
	{% if fg_color_alt %}--fg-color-alt:{{ fg_color_alt }};{% endif %}
	{% if bg_color_alt %}--bg-color-alt:{{ bg_color_alt }};{% endif %}
{% endset %}

<section class="module grid site {{ rythm }}" tcolumns="{{ columns }}" style="{{ computed_style }}">
	{% for page in page.collection() %}
		{{ page.content }}
	{% endfor %}
</section>
