{% set video = video|default(page.header.video ? page.media[page.header.video]) %}
{% set image = image|default(page.header.image ? page.media[page.header.image]) %}
{% set image_width = image_width|default(page.header.image_width) %}
{% set image_alt = image_alt|default(page.header.image_alt) %}
{% set bg_image = bg_image|default(page.header.bg_image ? page.media[page.header.bg_image]) %}
{% set bg_image_alt = bg_image_alt|default(page.header.bg_image_alt) %}
{% set bg_veil = bg_veil|default(page.header.bg_veil / 100) %}
{% set reverse = reverse|default(page.header.reverse) %}
{% set rythm = rythm|default(page.header.rythm ?? 'rythm') %}
{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}
{% set module_computed_style %}{% include '/partials/theme-module.html.twig' %}{% endset %}
{% set reveal_content = reveal_content|default('fadeinfrombottom delay-100 duration-500') %}
{% set reveal_media = reveal_media|default('fadeinfrombottom delay-100 duration-500') %}

<section class="module module--hero {{ rythm }} {% if bg_color or bg_image %}rythm-padding{% endif %}" style="{{ module_computed_style }}">

	{% block bg_veil %}
		{% if bg_veil %}
		<div class="hero__veil fill" style="opacity:{{bg_veil}};"></div>
		{% endif %}
	{% endblock %} 
	
	{% block image %}
		{% if bg_image %}
		<div class="hero__bg-image-ctn fill">
			{% include '/partials/img.html.twig' with {'image': bg_image, 'class': 'hero__bg-image', 'alt': bg_image_alt} %}
		</div>
		{% endif %}
	{% endblock %}

	<div class="hero__ctn site {% if reverse %}hero--reverse{% endif %}">

		{% block content %}
			<div class="hero__content" data-reveal="{{ reveal_content }}">{{ content|raw }}</div>
		{% endblock %}
		
		{% block media %}
			<div class="hero__media" data-reveal="{{ reveal_media }}">	
				{% if video %}
				<video autoplay="autoplay" muted="muted" loop="loop" {% if image %}poster="{{ image.url }}"{% endif %}>
					<source src="{{ video.url }}" type="video/mp4">
				</video>
				{% elseif image %}
				{% set computed_style %}{% if image_width %}{{ 'width:' ~ image_width ~ '%;' }}{% endif %}{% endset %}
				{% include '/partials/img.html.twig' with {'image': image, 'alt': image_alt, 'style': computed_style } %}
				{% endif %}
			</div>
		{% endblock %}

	</div>
</section>

