{% set video = video|default(page.header.video ? page.media[page.header.video]) %}
{% set image = image|default(page.header.image ? page.media[page.header.image]) %}
{% set image_width = image_width|default(page.header.image_width) %}
{% set image_alt = image_alt|default(page.header.image_alt) %}
{% set reverse = reverse|default(page.header.reverse) %}
{% set rythm = rythm|default(page.header.rythm ?? 'rythm') %}
{% set reveal_content = reveal_content|default('fadeinfrombottom delay-100 duration-500') %}
{% set reveal_media = reveal_media|default('fadeinfrombottom delay-100 duration-500') %}

<section class="module hero site {{ rythm }}">
	<div class="hero__ctn {% if reverse %}hero--reverse{% endif %}">

		{% block content %}
			<div class="hero__content" data-reveal="{{ reveal_content }}">{{ content|raw }}</div>
		{% endblock %}
		
		{% block media %}
			<div class="hero__media" data-reveal="{{ reveal_media }}">	
				{% if video %}
				<video autoplay="autoplay" muted="muted" loop="loop" {% if image %}poster="{{ image.url }}"{% endif %}>
					<source src="{{ video.url }}" type="video/mp4">
				</video>
				{% elseif image %}
				{% set computed_style %}{% if image_width %}{{ 'width:' ~ image_width ~ '%;' }}{% endif %}{% endset %}
				{% include '/partials/img.html.twig' with {'image': image, 'alt': image_alt, 'style': computed_style } %}
				{% endif %}
			</div>
		{% endblock %}

	</div>
</section>

