{% for p in pages.children if p.template == 'notifications' %}
	{% for n in p.header.notifications if n.visible == true %}
		{% set content = n.content|markdown %}
		{% set id = n.remember ? n.id %}
		{% set remember = n.remember %}
		{% set bg_color = n.bg_color %}
		{% set fg_color = n.fg_color %}

		{% if n.target %}
			{% for t in n.target if t == page.rawroute %}
				<div 
				data-notify
				data-bgcolor="{{ bg_color }}" 
				data-fgcolor="{{ fg_color }}"
				{% if id and remember %}data-id="{{ id }}"{% endif %}>
				{{ content }}
				</div>
			{% endfor %}

		{% else %}
			<div 
			data-notify
			data-bgcolor="{{ bg_color }}" 
			data-fgcolor="{{ fg_color }}"
			{% if id and remember %}data-id="{{ id }}"{% endif %}>
			{{ content }}
			</div>
		{% endif %}
	{% endfor %}
{% endfor %}