{% import 'partials/navigation.html.twig' as nav %}
<header class="header">
    <div class="header__wrapper">

    	{# Logo #}
        <a class="header__logo landscape" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>
        <a class="header__logo portrait" href="{{ base_url == '' ? '/' : base_url }}">{{ site.title }}</a>

        {# landscape #}
        <nav class="header__nav landscape">
            {{ nav.main(pages, theme) }}
        </nav>

        {# portrait #}
        <div class="header__toggle-on portrait">
            <span class="material-icons">menu</span>
        </div>
        <nav class="header__panel portrait">
            <div class="header__toggle-off">
                <span class="material-icons">close</span>
            </div>
            {{ nav.main(pages, theme) }}
        </nav>

    </div>
</header>
