{% set bg_color = bg_color|default(page.header.bg_color) %}
{% set fg_color = fg_color|default(page.header.fg_color) %}
{% set bg_color_alt = bg_color_alt|default(page.header.bg_color_alt) %}
{% set fg_color_alt = fg_color_alt|default(page.header.fg_color_alt) %}
{% set bg_image = bg_image|default(page.header.bg_image ? page.media[page.header.bg_image]) %}
{% set bg_video = bg_video|default(page.header.bg_video ? page.media[page.header.bg_video]) %}
{% set bg_position = bg_position|default(page.header.bg_position ?? '50% 50%') %}
{% set bg_fit = bg_fit|default(page.header.bg_fit ?? 'cover') %}
{% set bg_veil = bg_veil|default(page.header.bg_veil / 100) %}
{% set min_height = min_height|default(page.header.min_height) %}
{% set bg_loop = bg_loop|default(page.header.bg_loop) %}
{% set rythm = rythm|default(page.header.rythm ?? 'rythm') %}
{% set reveal_media = reveal_media|default('') %}
{% set reveal_content = reveal_content|default('fadeinfromtop delay-0 duration-2000') %}
{% set module_computed_style %}
	{% include '/partials/theme-module.html.twig' %}{% if min_height %}min-height:{{ min_height }}vh;{% endif %} %}
{% endset %}
{% set img_computed_bg_position = 'object-position:' ~ bg_position ~ ';' %}
{% set img_computed_bg_fit = 'object-fit:' ~ bg_fit ~ ';' %}
{% set img_computed_style =  img_computed_bg_position ~ img_computed_bg_fit%}

<section class="module splash full {{ rythm }}" style="{{ module_computed_style }}">

	{% block bg_veil %}
		{% if bg_veil %}
		<div class="splash__veil" style="opacity:{{bg_veil}};"></div>
		{% endif %}
	{% endblock %} 
	
	{% block image %}
		{% if bg_image and not bg_video %}
		{% include '/partials/img.html.twig' with {'image': bg_image, 'class': 'splash__image', 'alt': bg_image_alt, 'style': img_computed_style , 'reveal': reveal_media} %}
		{% endif %}
	{% endblock %}

	{% block video %}
		{% if bg_video %}
		<video class="splash__video" data-reveal="{{ reveal_media }}" autoplay="autoplay" muted="muted"
		{% if bg_loop %} loop="loop" {% endif %} 
		{% if bg_image %}poster="{{ bg_image.url }}"{% endif %}
		style="{{ computed_style }}">
		{% if bg_video %}<source src="{{ bg_video.url }}" type="video/mp4">{% endif %}
		</video>
		{% endif %}
	{% endblock %}

	<div class="splash__ctn site">
		{% block content %}
			<div class="site splash__content" data-reveal="{{ reveal_content }}">{{ content|raw }}</div>
		{% endblock %}
	</div>
</section>
