{% import '/partials/datetime.html.twig' as datetime %}

{% extends '/partials/base.html.twig' %}

{% block metadata %}
	{{ parent() }}
	{% include '/partials/schema-newsarticle.html.twig' %}
{% endblock %}

{% block content %}
{% set title = title|default(page.title) %}
{% set date = date|default(page.header.date) %}
{% set authors = authors|default(page.taxonomy.author) %}
{% set categories = categories|default(page.taxonomy.category) %}
{% set image = image|default(page.header.media_header ? page.media.images|first()) %}
{% set image_alt = media_alt|default(page.header.media_alt) %}
{% set image_caption = image_caption|default(page.header.media_caption) %}
{% set content = content|default(page.content|raw) %}
<main class="page page--article" data-reveal>

	{# header #}
	<div class="article__header">

		{# title #}
		<h1 class="article__title">{{ title }}</h1>

		{# date #}
		<div class="article__date xsmall">{{ datetime.format(date) }}</div>

		{# author #}
		{% if authors %}
		<div class="article__author xsmall">
		{% for author in authors %}
		<span>{{ author }}</span> {% if not loop.last %}, {% endif %}
		{% endfor %}
		</div>
		{% endif %}

		{# categories #}
		{% if categories %}
		<div class="article__category xsmall">
		{% for category in categories %}
		<span>{{ category }}</span> {% if not loop.last %}, {% endif %}
		{% endfor %}
		</div>
		{% endif %}
		
	</div>

	{# media #}
	{% if image %}
	<div class="article__media-ctn {{ image_width }} mt_2">
		{# image #}
		{% include '/partials/img.html.twig' with {'image': image, 'alt': media_alt, 'class': 'article__media' } %}
		{# caption #}
		{% if image_caption %}
		<div class="article__media-caption xsmall">{{ image_caption|markdown }}</div>
		{% endif %} 
	</div>
	{% endif %}

	{# content #}
	<div class="article__content mt_2">{{ content }}</div>
	
</main>
{% endblock %}
