{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="product">

  {# header #}
  {% include 'partials/default-header.html.twig' with{'reveal_title': 'fadeinfrombottom delay-100 duration-500'} %}

  <div class="product-ctn rythm">

  {# Images #}
  <div class="images">
    {% for media in page.media %}
      {{ media.html() }}
    {% endfor %}
  </div>

  {# Content #}
  <div class="content">
    {{ page.content }}

    <div class="button solid">
      <a class="snipcart-add-item"
      data-item-id="{{ page.title }}"
      data-item-price="{{ page.header.price }}"
      data-item-url="{{ page.url }}"
      data-item-description="{{ page.header.description }}"
      data-item-image="{{ page.media|first().url }}"
      data-item-name="{{ page.title }}">
      Buy {{ page.title }}
      </a>
    </div>

  </div>

  </div>




</section>
{% endblock %}
