{% extends 'partials/base.html.twig' %}

{% block page_content %}
<main class="page page--product-collection">

	{# header #}
	{% include 'modular/content.html.twig' with {
		'content':'<h1>' ~ page.title ~ '</h1>',
		'align': 'center',
		'content_reveal': 'reveal transition-delay-100',
		'modular_class': 'm-t_2'}%}

	{# Grid #}
	<section class="site m-t">
		<div class="pc__grid">
			{% for page in page.collection() %}

				<a class="pc__grid__item" href="{{ page.url }}">
					<div class="pc__grid__item__image fill">
						{% include 'partials/img.html.twig' with {'image': page.media.images|first} %}
					</div>
					<div class="pc__grid__item__title">{{ page.title }}</div>
					<div class="pc__grid__item__price">{{ theme.price_prefix }} {{ page.header.price|number_format(2) }} {{ theme.price_suffix }}</div>
				</a>

			{% endfor %}
		</div>
	</section>

</main>
{% endblock %}
