{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="product">

 	{# header #}
	{% include 'partials/default-header.html.twig' with{'reveal_title': 'fadeinfrombottom delay-100 duration-500'} %}

	{# image #}
	<div class="tight rythm">
		{% set image = image|default(page.header.image ? page.media[page.header.image]) %}
		{% include '/partials/img.html.twig' with {'image': image, 'class': 'product-image', 'reveal': 'fadeinfrombottom delay-150 duration-500' } %}
	</div>

	{# price #}
	<div class="tight product-price" data-reveal>
		<div>
			{{ page.header.price|number_format(2) }} CAD
			<span>+taxes and shipping</span>
		</div>
	</div>

	{# buy button #}
	<div class="tight" data-reveal="fadeinfrombottom delay-100 duration-500">
		<div class="button solid buy-button">
			<a class="snipcart-add-item"
			data-item-id="{{ page.title }}"
			data-item-price="{{ page.header.price }}"
			data-item-url="{{ page.url }}"
			data-item-description="{{ page.header.description }}"
			data-item-image="{{ image.url }}"
			data-item-name="{{ page.title }}">
			Buy {{ page.title }}
			</a>
		</div>
	</div>

	{# content #}
	<div class="content" data-reveal="fadeinfrombottom delay-100 duration-500">{{ page.content }}</div>

	{# modules #}
	{% for module in page.collection() %}
	{{ module.content }}
	{% endfor %}

</section>
{% endblock %}
