{% extends 'partials/base.html.twig' %}

{% block page_content %}
<section class="page__product">

	{# header #}
	{% include 'modular/content.html.twig' with {
	'content':'<h1>' ~ page.title ~ '</h1>',
	'align': 'content--center',
	'reveal': 'reveal delay-100 duration-500',
	'rhythm': 'rhythm-half'}%}

	{# image #}
	<div class="site rhythm">
		{% set image = image|default(page.header.image ? page.media[page.header.image]) %}
		{% include 'partials/img.html.twig' with {'image': image, 'class': 'product__image', 'reveal': 'reveal delay-150 duration-500' } %}
	</div>

	{# price #}
	<div class="site">

		{% if theme.snipcart_api_key %}
		<div class="product__buy">
			<div class="btn btn--solid product__btn">
				<a class="snipcart-add-item"
				data-item-id="{{ page.header.id }}"
				data-item-price="{{ page.header.price }}"
				data-item-url="{{ page.url }}"
				data-item-description="{{ page.header.description }}"
				data-item-image="{{ image.url }}"
				data-item-name="{{ page.title }}">Buy {{ page.title }}</a>
			</div>
			<span class="product__price">{{ theme.price_prefix }} {{ page.header.price|number_format(2) }} {{ theme.price_suffix }}</span>
		</div>
		{% else %}
     	<div class="notices red dev">
     		<p>Snipcart API Key not found.<br>
     		Check theme configuration.</p>
     	</div>
		{% endif %}
	</div>

	{# content #}
	{% include 'modular/content.html.twig' with{'class': 'product__content'} %}

</section>
{% endblock %}
