{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="page page--product">
	<div class="product__wrapper">
		<div class="product__media" data-reveal>
			{# Swiper #}
			<div class="product__gallery swiper-container">
				<div class="swiper-wrapper">
				{% for image in page.media.images %}
					<div class="swiper-slide">
						<div class="fill">
							{% include 'partials/img.html.twig' with {'image': image} %}
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>

		<div class="product__info small">
			<h1 class="product__title">{{ page.title }}</h1>
			<div class="product__price">{{ theme.price_prefix }} {{ page.header.price }} {{ theme.price_suffix }}</div>
			<div class="product__add btn btn--solid">
				<a class="snipcart-add-item"
				data-item-id="{{ page.header.id }}"
				data-item-price="{{ page.header.price }}"
				data-item-url="{{ page.url }}"
				data-item-description="{{ page.header.description }}"
				data-item-image="{{ page.media.images|first.url }}"
				data-item-name="{{ page.title }}">
				Add to cart
					<span class="material-icons cart-icon">shopping_cart</span>
				</a>
			</div>
			<div class="product__content modular--content">{{ page.content|raw }}</div>
		</div>
	</div>

	<div class="product__modular">
	{% for module in page.collection() %}
	{{ module.content }}
	{% endfor %}
	</div>

</section>
{% endblock %}
